body {
    margin: 0;
} 

header {
    height: 100px;
    background-image: url(./img/pattern.png);
    background-size: 400px;
    background-color: #9cd6f4;
}

#logo {
    width: 150px;
    padding-left: 100px;
    padding-top: 30px;
}

.container-main{
    margin: 0 100px;
}

h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}

#writer {
    margin: 0 0 10px 0;
    font-size: small;
    color: gray;
}

#booleaner-color {
    color: #9cd6f4;
}

#date-title {
    font-size: smaller;
}

.tim-foto {
    width: 500px;
    height: 400px;
}

#foto-editor {
    font-size: xx-small;
    margin-top: 0;
}

ul {
    padding-left: 15px;
}

#lorem-section {
    margin: 0 100px;
}

.lorem-color {
    background-color: yellow;
}

#text-lorem {
    font-size: small;
    margin-bottom: 10px;
}

.list-lorem {
    font-size: small;
}

.lorem-table-slot {
    margin: 0 100px;
}

.table-title {
    background-color: #7fa6fb;
    color: white;
    font-size: small;
    text-align: left;
}

#size-table {
    width: 60%;
}

.table-center {
    background-color: #dfe5f2;
}

tbody {
    font-size: small;
}

footer {
    height: 30px;
    background-color:#313a6b ;
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: x-small;
    padding-top: 15px;
}